@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans SC', sans-serif;
}

.texto-principal {
    width: 100%;
    position: absolute;
}

.texto-principal ul {
    height: 2rem;
    float: right;
}

.texto-principal ul li {
    display: inline-block;
    padding: 2rem 1rem;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.2rem;
}

.texto-principal h2 {
    text-align: center;
    color: #fff;
    font-size: 5rem;
    margin-top: 20%;
}

.area-animacao {
    background: linear-gradient(to left, #0c2461, #6a89cc);
    width: 100%;
    height: 100vh;
}

.area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 2rem;
    height: 2rem;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 10s linear infinite;
    bottom: -150px;
}

.area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.area li:nth-child(3) {
    left: 70%;
    width: 150px;
    height: 150px;
    animation-delay: 5.5s;
}

.area li:nth-child(4) {
    left: 42%;
    width: 30px;
    height: 30px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.area li:nth-child(5) {
    left: 65%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
}

.area li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

.area li:nth-child(7) {
    left: 46%;
    width: 120px;
    height: 120px;
    animation-delay: 1.5s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}